.header {
    background-color: #fff;
    grid-row: 1/2;
    grid-column: 1/ span 5;
    margin-bottom: -4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2rem 3rem rgba($color-black, .15);

    &__logo {
        height: 4rem;
        padding: .29rem;
        margin-bottom: .5rem;
    }
}


